:root {
  --cosee-c-primary: #d4d800;
  --cosee-c-secondary: #48af56;
  --cosee-c-white: #fff;
  --cosee-c-greyscale1: #efefef;
  --cosee-c-greyscale2: #dedede;
  --cosee-c-greyscale3: #545454;
  --cosee-c-black: #262626;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  position: relative;
}

body {
  font-family: 'Helvetica Neue', sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
